{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Appartments</a></li>
                                <li class="breadcrumb-item active" aria-current="page"> Property id</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url( {{Property.photo_main.url}})">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image:url( {{Property.photo_1.url}});">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image:url( {{Property.photo_2.url}});">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="3" style="background-image:url( {{Property.photo_main.3}});">
                                    </li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="{% if Property.photo_main %}
                              {{Property.photo_main.url}}

                              {% else %}

                              {%static 'images/appartment.png'%}

                          {% endif %}">
                                            <img class="d-block w-100" src="{% if Property.photo_main %}
                              {{Property.photo_1.url}}

                              {% else %}

                              {%static 'images/appartment.png'%}

                          {% endif %}" alt="First slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{% if Property.photo_main %}
                              {{Property.photo_2.url}}

                              {% else %}

                              {%static 'images/appartment.png'%}

                          {% endif %}">
                                            <img class="d-block w-100" src="{% if Property.photo_main %}
                              {{Property.photo_2.url}}

                              {% else %}

                              {%static 'images/appartment.png'%}

                          {% endif %}" alt="Second slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{% if Property.photo_main %}
                              {{Property.photo_3.url}}

                              {% else %}

                              {%static 'images/appartment.png'%}

                          {% endif %}">
                                            <img class="d-block w-100" src="{% if Property.photo_main %}
                              {{Property.photo_3.url}}

                              {% else %}

                              {%static 'images/appartment.png'%}

                          {% endif %}" alt="Third slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{% if Property.photo_main %}
                              {{Property.photo_4.url}}

                              {% else %}

                              {%static 'images/appartment.png'%}

                          {% endif %}">
                                            <img class="d-block w-100" src="{% if Property.photo_main %}
                              {{Property.photo_4.url}}

                              {% else %}

                              {%static 'images/appartment.png'%}

                          {% endif %}" alt="Fourth slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">₦{{Property.price}}</p>
                                <a href="product-details.html">
                                    <h6>{{Property.title}}</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="review">
                                        <a >Property Review</a>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility"><i class="fa fa-circle"></i>{{Property.status}}</p>
                            </div>

                            <div class="short_overview my-5">
                                <p>{{Property.description}}</p>
                            </div>
                                    <p>Qty</p>
                                    
                                </div>
                                 <button type="submit" name="addtocart" value="value" class="btn amado-btn">Call</button>
                             

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

{% endblock content %}