{% if messages %}
    {% for message in messages %}
       <div class="container" id="message">
       	 <div class="alert alert-{{ message.tags }} alert-dismissable text-center" role="alert">
       	 	<button type="button" data-dismiss="alert" class="close"><span aria-hidden=true>
       	 		&times;
       	 	</span></button>
       	 	<strong>
       	 		{% if  message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
       	 		    Error:
       	 		{% else %}
       	 		     {{ message.tags|title }}
       	 		{% endif %}
       	 	</strong>
       	 	{{ message }}
       	 </div>
       </div>
    {% endfor %}
{% endif %}
