{% load static %}
<!-- Navbar -->
 <header id="home">

<nav class="animate">
        <div class="container">
          <div class="logo left">
            <!-- Logo -->
            <img src="{% static './images/logo.png' %} " height="50", width="80">
            
            </li>
          </div>
          <div class="menu-button hide right pointer" style=" color:  black;">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu left">
            <div class="page-menu left">
              <!-- Navigation -->
              <li><a href="{% url 'pages:index' %}">Home</a></li>
              <li><a href="{% url 'pages:about' %}">About</a></li>
              <li><a href="{% url 'blog:blog' %}">Blog</a></li>
              <li><a href="{% url 'listings:listings' %}">Properties</a></li>
              <li><a href="{% url 'Ages:Ages' %}">Verification</a></li>
              <li><a href="#contact">Contact</a></li>
            </div>
            <div class="registration flex-center">
              <div class="join-us">
                <!-- Join Us Button -->
                    <li class="pointer animate"><a href="{% url 'accounts:login_view' %}">Agents</a>
                 </li>    
                </div>
                  <div class="getting-started">
                    <!-- Get Started Button -->
                   <a href="{% url 'accounts:register_view' %}"><li class="main-btn pointer text-center animate">Become an agent</li></a>
                  </div>
                </div>
                <div class="registration flex-center">
                  <div class="join-us">
                    <!-- Join Us Button -->
                 
              </div>
              <div class="getting-started">
                <!-- Get Started Button -->
              </div>
            </div>
          </div>
        </div>
      </nav>
