  <section id="top-bar" class="animate">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (810)-080-8038
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> inquiries@coralcity.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-envelope-open"></i>
            </a>
          </div>
        </div>
      </div>
  </section>