{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="works" class="how-it-works">
      <div class="container my-5">
        <div class="row">
          <div class="col-12 works-title">
            <h3>How it works?</h3>
            <p>In this space market-facing, yet UI work flows , or bake it in.<br>Red flag we need a recap by eod, cob or whatever comes<br>first agile at the end of the day. </p>      
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="work-box animate">
              <div class="work-box-number">
                <p>01</p>
              </div>
              <div class="work-box-title">
                <p class="left">01</p>
                <p class="left">Find Your Location</p>
              </div>
              <div class="work-box-text">
                <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we neef the day. </p>
              </div>
              <div class="work-box-link">
                <a href="#">Find Location</a>
              </div>           
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="work-box animate">
              <div class="work-box-number">
                <p>02</p>
              </div>
              <div class="work-box-title">
                <p class="left">02</p>
                <p class="left">Find Appartment</p>
              </div>
              <div class="work-box-text">
                <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we neef the day. </p>
              </div>
              <div class="work-box-link">
                <a href="#">Find Location</a>
              </div>           
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="work-box animate">
              <div class="work-box-number">
                <p>03</p>
              </div>
              <div class="work-box-title">
                <p class="left">03</p>
                <p class="left">Make Contact</p>
              </div>
              <div class="work-box-text">
                <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we neef the day. </p>
              </div>
              <div class="work-box-link">
                <a href="#">Find Location</a>
              </div>           
            </div>
          </div>
        </div>
        <!-- Services Area -->
        <div class="row work-services">
          <div class="col-12 work-services-title">
            <h3>Services</h3>
            <p>In this space market-facing, yet UI work flows , or bake it in.<br>Red flag we need a first agile at the end of the day. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="work-service-image">
            </div>
          </div>
          <div class="col-12 col-md-5 work-service-info">
            <h4>Renting</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence</p>
          
            <h4>Selling</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence</p>
            
            <h4>Building</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence</p>
          </div>
        </div>
      </div>
    </section>
   
    <!------------------------------------------------ ADD SECTION -->
    <section class="add">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="add-image add1">
              <!-- image added via css -->
              <div class="add-image-info flex-center">
                <img src="{%static 'images/pointer.svg'%}" class="left" alt="">
                <!-- image location -->
                <p>Melbourne,Australia</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 flex-center">
            <div class="add-info">
              <!-- Add title -->
              <h4>Super Awesome Add</h4>
              <!-- Add Info -->
              <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence</p>
            </div>
          </div>
          <div class="col-12 col-md-5 flex-center">
            <div class="add-info add2-info">
              <!-- Add title -->
              <h4>Super Awesome Add</h4>
              <!-- Add info -->
              <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence</p>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="add-image right add2">
              <!-- image added via css -->
              <div class="add-image-info add-image-info2 flex-center">
                <img src="{%static 'images/pointer.svg'%}" class="left" alt="">
                <!-- image location -->
                <p>Melbourne,Australia</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="add-image add3">
              <!-- image added via css -->
            </div>
          </div>
          <div class="col-12 col-md-5 flex-center">
            <div class="add-info add3-info">
              <!-- Add title -->
              <h4>Super Awesome Add</h4>
              <!-- Add info -->
              <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence</p>
              <button class="search-btn left show-more-btn">Show Me More</button>
            </div>
          </div>
        </div>
      </div>
    </section>
   <section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <div class="card-body">
            	<!-- Alerts -->
            	{% include 'partials/_alerts.html' %}
              <form action="{% url "accounts:login_view" %}" method="POST">
              	{% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" required>
                </div>

                <input type="submit" value="Login" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
