{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="home_banner_area hero"  id="about">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="banner_content d-flex flex-md-row flex-column">
              <div class="banner-left text-md-right">
                <h1 class="text-uppercase">Agents</h1>
              </div>
              <div class="banner-right position-relative">
                <p>
                 You wish to be a realtor agent? here is all you have to do.
                </p>
                <span class="main_btn mt-4 mt-md-0" href="#">
                  <a href="" >Home</a> 
                  <i class="fa fa-arrow-right mx-2"></i>
                  <a href="#">About</a> 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% csrf_token %}
<section id="works" class="how-it-works">
      <div class="container my-5">
        <div class="row">
          <div class="col-12 works-title">
            <h3>How it works?</h3>
            <p> You wish be a realtor agent with Koralcity? <br> All you have to do.<br>is complete some few steps and arrange all relevant information <br>while pending for your response before the end of the day. </p>      
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="work-box animate">
              <div class="work-box-number">
                <p>01</p>
              </div>
              <div class="work-box-title">
                <p class="left">01</p>
                <p class="left">Find Your Location</p>
              </div>
              <div class="work-box-text">
                <p>Here you search for the location you want to cover in your listings and then move to the next step. </p>
              </div>          
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="work-box animate">
              <div class="work-box-number">
                <p>02</p>
              </div>
              <div class="work-box-title">
                <p class="left">02</p>
                <p class="left">Find Appartment</p>
              </div>
              <div class="work-box-text">
                <p>After you've picked a location, now you search for avialable properties in that location for your listings. </p>
              </div>         
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="work-box animate">
              <div class="work-box-number">
                <p>03</p>
              </div>
              <div class="work-box-title">
                <p class="left">03</p>
                <p class="left">Make Contact</p>
              </div>
              <div class="work-box-text">
                <p>Once you've completed step one and two now you can contact us and you'll get back to you with a confirmation. </p>
              </div>          
            </div>
          </div>
        </div>
        <!-- Services Area -->
        <div class="row work-services">
          <div class="col-12 work-services-title">
            <h3>Services</h3>
            <p>At Koralcity Limited, we handle the operations, consulting, maintenance,<br> and administration of properties rentals to prospective clients. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="work-service-image">
            </div>
          </div>
          <div class="col-12 col-md-5 work-service-info">
            <h4>Renting</h4>
            <p>We have gained a reputation of excellent service delivery, through provision of quality services, and we have been delivering the best real estate brokerage deals consistently over the years. We develop a leading-edge property marketing system that affords us an open opportunity to expose our clients’ assets to the right market and rent with ease.</p>
          
            <h4>Selling</h4>
            <p>We operate a robust marketing strategy that helps us to sell properties to prospective clients. No matter your situation, our Capital Markets Consulting Experts will work with you to structure the best deals and negotiate the best terms-matching with the right opportunity every time, so you are leaving nothing to chance.</p>
            
            <h4>Building</h4>
            <p>We are rapidly growing, however our commitment and dedication towards exhibiting high skills in project delivery is constantly renewed to position us adequately for effective service and project delivery within the stipulated time and average cost to meet the client’s demand, value and return on their investment. Nevertheless, our innovative approach to facility management makes us the construction company of choice.</p>
          </div>
        </div>
      </div>
    </section>
   
    <!------------------------------------------------ ADD SECTION -->
    <section class="add">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="add-image add1">
              <!-- image added via css -->
              <div class="add-image-info flex-center">
                <img src="{%static 'images/pointer.svg'%}" class="left" alt="">
                <!-- image location -->
                <p>Our Vision</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 flex-center">
            <div class="add-info">
              <!-- Add title -->
              <h4>Our Vision</h4>
              <!-- Add Info -->
              <p>To actualize comfortable living for all classes of society everyone deserves a good home. With our large pool of property owners as well as those seeking property for investors and property owners as well as those seeking properties for lease or rent at friendly neihborhoods and convenient rate.Our properties are our bound</p>
            </div>
          </div>
          <div class="col-12 col-md-5 flex-center">
            <div class="add-info ">
              <!-- Add title -->
              <h4>What we do</h4>
              <!-- Add info -->
              <ul>  
                <li>1. Property Management/Administration.</li><br>
                <li>2. Property Listing /Sales/Lease/Rental Options.</li><br>
                <li>3. Property/Land Verification.</li><br>
                <li>4. Property Developers.</li><br>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="add-image right add2">
              <!-- image added via css -->
              <div class="add-image-info add-image-info2 flex-center">
                <img src="{%static 'images/pointer.svg'%}" class="left" alt="">
                <!-- image location -->
                <p>What we do</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="add-image add3">
              <!-- image added via css -->
            </div>
          </div>
          <div class="col-12 col-md-5 flex-center">
            <div class="add-info add3-info">
              <!-- Add title -->
              <h4>Koralcity Properties</h4>
              <!-- Add info -->
              <p>Koralcity Limited offers property owners, developers and buyers/renters a viable housing market. Customers can source and connect with professional agents for the most advanced and eco-friendly housing. Established in 2021, Koral City believes everyone deserves a home with the most advanced technology and Eco-Friendly means.
            </div>
          </div>
        </div>
      </div>
    </section>
   <section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <div class="card-body">
            	<!-- Alerts -->
            	{% include 'partials/_alerts.html' %}
              <form action="{% url "accounts:login_view" %}" method="POST">
              	{% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" required>
                </div>

                <input type="submit" value="Login" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
