{% extends "base.html" %}

{% load static %}

{% block title %}
     About Us
{% endblock title %}

{% block content %}
 
 <section class="statistic" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h3>Our’s Company<br>Coralcity</h3>
            <p>Coralcity is a real estate investment, development & construction company with services in real estate development, estate design & building, real estate marketing & brokerage, real estate investment & management services.</p>
            <p>Coralcity also provide an online platform aiding real estate companies to advertise their services & properties to possible customers, while also aiding the public to find authentic properties to buy or rent in Nigeria and abroad with ease. It is one of the Topnouch real estate investment firms in the country whose aim is to deliver cutting edge and competitive real estate solutions to our prospective clients.</p>
          </div>
          <div class="col-12 col-lg-6 statistic-wrapper">
            <div class="statistic-box text-center">
              <p>384</p>
              <p>Clients</p>
            </div>
            <div class="statistic-box text-center">
              <p>748</p>
              <p>Appartments</p>
            </div>
            <div class="statistic-box text-center">
              <p>14</p>
              <p>Awards</p>
            </div>
            <div class="statistic-box text-center">
              <p>24</p>
              <p>Employees</p>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!------------------------------------------------ AGENTS SECTION -->
    <section id="agents" class="agents">
      <div class="container">
        <div class="row agents-services">
          <div class="col-12 agents-title">
            <h3>Meet Our Agents</h3>
            <p>They provide one of the most professional, informative, loyal and dedicated services<br> in the real estate industry. Clients’ satisfaction is their number one priority.</p>
          </div>
        </div>
      
        
        <div class="row">
          {% if realtors %}
        {% for realtor in realtors %}
          <!-- Agent  -->
          <div class="col-12 col-md-12 col-lg-4">
            <div class="appartment-box">
              <div class="appartment-image">
                <!-- Agent Image  -->
                <img src="{{realtor.photo.url}}" alt="">
              </div>
              <div class="appartment-info">
                <div class="appartment-title">
                  <!-- Agent Title  -->
                  <p>Realtor</p>
                </div>
                <div class="appartment-title">
                  <div class="left agent-name">
                    <!-- Agent name  -->
                    <p> {{realtor.name}}</p>
                  </div>
                  <div class="agent-social right flex-center">
                    <a href="#"><img src="{%static 'images/facebook.svg'%}" alt=""></a>
                    <a href="#"><img src="{%static 'images/twitter.svg'%}" alt=""></a>
                    <a href="#"><img src="{%static 'images/dribble.svg'%}" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
            </div>
          {% endfor %}
          {% else %}
          <div class="col-md-12">
            <p>No Realtors Avialbale</p>
        </div>
      {% endif %}



        </div>
        </div>
      </section>
{% endblock content %}

