{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Links -->
    <link rel="icon" type="image/png" href="{% static './images/favicon.png' %}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href="{% static './css/bootstrap.min.css' %}"  rel="stylesheet" />
    <link href="{% static './css/core-style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Document Title -->
    <title>Coralcity - Real-estate management
          {% block title %}
         Dashboard
         {% endblock title %}
  </title>
  </head>
  <body>
    
 <!------------------------------------------------ HEADER SECTION -->
     <header id="home">
      <nav class="animate">
        <div class="container">
          <div class="logo left">
            <!-- Logo -->
            <a href="#home">Coralcity</a>
          </div>
          <div class="menu-button hide right pointer">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu left">
            <div class="page-menu left">
              <!-- Navigation -->
              <li><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#appartments">Appartments</a></li>
              <li><a href="#works">How It Works</a></li>
              <li><a href="#agents">Agents</a></li>
              <li><a href="#contact">Contact Us</a></li>
            </div>
            <div class="registration flex-center">
              <div class="join-us">
                <!-- Join Us Button -->
                <li class="pointer animate"><a href="#">Reach Us</a></li>
              </div>
              <div class="getting-started">
                <!-- Get Started Button -->
                <li class="main-btn pointer text-center animate"><a href="#">Become an agent</a></li>
              </div>
            </div>
          </div>
        </div>
      </nav>
  {% block header %}


  {% endblock header%}
    </header>
   {% block content %}

   
   {% endblock content %}
   
    
   
    <!------------------------------------------------ FOOTER SECTION -->
    <footer id="contact">
      <div class="container">
        <div class="row footer-top">
          <div class="col-12 col-md-6">
            <!-- logo -->
            <h3>luxestate</h3>
            <h3>Explore Real Estate</h3>
          </div>
          <div class="col-12 col-md-6 Newsletter">
            <input type="text" placeholder="Subscribe To Our Newsletter" class="left">
            <button class="newsletter-btn left"></button>
          </div>
        </div>
        <div class="row footer-bottom">
          <div class="col-sm-12 col-md-4 footer-logo">
            <h4>luxestate</h4>
            <p>© 2019 - luxestate,<br>All Right Reserved</p>
          </div>
          <div class="col-sm-3 col-md-2 footer-column">
            <h5>LUXESTATE</h5>
            <a href="#">Agents</a>
            <a href="#">Hunters</a>
          </div>
          <div class="col-sm-3 col-md-2 footer-column">
            <h5>COMPANY</h5>
            <a href="#">About</a>
            <a href="#">FAQ</a>
            <a href="#">Contact</a>
            <a href="#">Social</a>
          </div>          
          <div class="col-sm-3 col-md-2 footer-column">
            <h5>PRODUCT</h5>
            <a href="#">Appartments</a>
            <a href="#">How It Works</a>
          </div>
          <div class="col-sm-3 col-md-2 footer-column">
            <h5>SERVICES</h5>
            <a href="#">Renting</a>
            <a href="#">Selling</a>
            <a href="#">Building</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="{%static './js/jquery.min.js'%}"></script>
    <script src="{%static './js/popper.js'%}"></script>
    <script src="{%static './js/bootstrap.min.js'%}"></script>
    <script src="{% static './js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static './js/main.js' %}"></script>
    <script src="{% static './js/lightbox.min.js' %}"></script>
      <!-- Scripts Ends -->
  </body>
</html>
