{% extends 'base.html' %}
{% load static %}
{% block header%}
   <div class="hero">
        <div class="container">
          <div class="hero-wrapper">
            <div class="title">
              <!-- Hero Title -->
              <h1>Find Your New<br>Modern Apartment </h1>
              <div class="search lux-shadow">
                <!-- Search -->
                <input class="left" type="text" placeholder="Search Location">
                <button class="search-btn left">Search</button>
              </div>
            </div>
            <div class="hero-image">
              <div class="hero-image-info yellow-bg flex-center">
                <div class="info flex-center">
                  <img src="{%static './images/call-icon.svg'%}" alt="">
                  <!-- Phone -->
                  <p>(000) 123-4567</p>
                </div>
                <div class="info flex-center">
                  <img src="{%static './images/point-icon.svg'%}" alt="">
                  <!-- Place -->
                  <p>Melbourne,Australia</p>
                </div>
              </div>
            </div>
            <div class="slide-down text-center pointer">
              <a href="#about">
                <p>Scroll Down</p>
                <img src="{%static './images/scroll.svg'%}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
{% endblock header%}


{% block content %}
<!------------------------------------------------ APPARTMENTS SECTION -->
    <section id="appartments" class="appartments">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>More Then 500+<br>Appartments For Sell & Rent</h2>
          </div>
        </div>
        <div class="row">


          {% if propertys %}

          {% for Property in propertys %}
            
          {% include 'snippets/_single_item.html' %}
                   
          {% endfor %}

          {% else %}

          <p> No Property available in this region</p>

          {% endif %}
        </div>
      </div>
    </section>


{% endblock content %}



